<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>DormScore</title>
      <!--====== Bootstrap CSS ======-->
      <link
        rel="stylesheet"
        href="https://cdn.ayroui.com/1.0/css/bootstrap.min.css"
      />

      <!--====== Lineicons CSS ======-->
      <link
        href="https://cdn.lineicons.com/3.0/lineicons.css"
        rel="stylesheet"
      />

      <!--====== Style css ======-->
      <link
        rel="stylesheet"
        href="https://cdn.ayroui.com/1.0/css/starter.css"
      />

      <!-- <script
            src="https://kit.fontawesome.com/c98bbfd013.js"
            crossorigin="anonymous"
          ></script> -->

      <link rel="stylesheet" href="app.css" />
    </head>
  </head>
  <body>
    <!--====== NAVBAR START ======-->
    <section class="navbar-area navbar-two">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="index.html">
                <span>Dorm</span>Score</a
              >
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarTwo"
                aria-controls="navbarTwo"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse sub-menu-bar" id="navbarTwo">
                <ul class="navbar-nav m-auto">
                  <li class="nav-item">
                    <a class="" href="index.html">Search</a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)">Resources</a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)">About Us</a>
                  </li>
                </ul>
              </div>
              <div class="navbar-btn d-none d-sm-inline-block">
                <ul>
                  <li>
                    <a class="btn primary-btn square" href="login.html">
                      Sign In
                    </a>
                  </li>
                  <li>
                    <a
                      class="btn primary-btn-outline square"
                      href="registration.html"
                    >
                      Sign Up
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
            <!-- navbar -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>
    <!--====== NAVBAR ENDS ======-->

    <!--====== Start Profile Two ======-->
    <div class="profile profile-two">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="cover-image"></div>
            <div class="pf-content">
              <div class="pf-img-des">
                <div class="image">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a6/Central-Michigan-University-seal.svg/1200px-Central-Michigan-University-seal.svg.png"
                    alt="#"
                  />
                </div>
                <div class="des">
                  <p>Central Michigan University</p>
                  <h5>Herring Hall</h5>
                  <h3 style="color: var(--primary)" class="error-content">
                    4/5
                  </h3>
                  <p>Over all rating</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== End Profile Two ======-->
    <!--====== Tiny Slider Css ======-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css"
    />

    <!--====== SLIDER SEVEN PART START ======-->
    <section class="slider-seven">
      <div class="container">
        <div class="slider-items-three-wrapper">
          <div class="row slider-items-three-active">
            <div class="col-lg-4">
              <div class="single-items-three">
                <div class="items-image">
                  <img
                    src="https://www.cmich.edu/images/default-source/student-affairs-division/residence-life/20210615_residencelife_schoolofmussicherrig_003_700x467.png"
                    alt="Image"
                  />
                </div>
                <div class="items-content"></div>
              </div>
              <!-- single items three -->
            </div>
            <div class="col-lg-4">
              <div class="single-items-three">
                <div class="items-image">
                  <img
                    src="https://www.cmich.edu/images/default-source/student-affairs-division/residence-life/20210615_residencelife_schoolofmussicherrig_001_700x467.jpg"
                    alt="Image"
                  />
                </div>
                <div class="items-content"></div>
              </div>
              <!-- single items three -->
            </div>
            <div class="col-lg-4">
              <div class="single-items-three">
                <div class="items-image">
                  <img
                    src="https://www.cmich.edu/images/default-source/student-affairs-division/student-life/east_community3ecac2f4-4a2a-4d7c-9aa6-73eec9f183a5.jpg"
                    alt="Image"
                  />
                </div>
                <div class="items-content"></div>
              </div>
              <!-- single items three -->
            </div>
            <div class="col-lg-4">
              <div class="single-items-three">
                <div class="items-image">
                  <img
                    src="https://www.cmich.edu/images/default-source/student-affairs-division/residence-life/2015-0410-007-summer-scenics-sj.jpg?sfvrsn=6158c110_7"
                    alt="Image"
                  />
                </div>
                <div class="items-content"></div>
              </div>
              <!-- single items three -->
            </div>
          </div>
          <!-- row -->
        </div>
      </div>
      <!-- container -->
    </section>
    <!--====== SLIDER SEVEN PART ENDS ======-->

    <!--====== Tiny Slider js ======-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.js"></script>

    <script>
      //======== tiny slider for slider-items-three-active
      tns({
        autoplay: true,
        autoplayButtonOutput: false,
        mouseDrag: true,
        gutter: 0,
        container: ".slider-items-three-active",
        center: false,
        nav: true,
        navPosition: "bottom",
        speed: 400,
        controlsText: [
          '<i class="lni lni-arrow-left"></i>',
          '<i class="lni lni-arrow-right"></i>',
        ],
        responsive: {
          0: {
            items: 1,
            controls: false,
          },

          768: {
            items: 2,
            controls: true,
          },
          992: {
            items: 3,
          },
        },
      });
    </script>
  </body>
</html>
