<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <main id="main-section">
        <div id="login-error-msg-holder">
          </div>
        <form id="login-form" name="login-form">
            <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
            <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
            <label id="check-label" for="check">Show Password</label>
            <input id="check" type="checkbox">
            <input type="submit" value="Login" id="login-form-submit">
          </form>
    
</main>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../static/js/app.js"></script>
    
</body>
</html>